/* Appointment */
.contentContainer2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.5) 0em 1em .8em -.4em;
    margin-top: 2em;
}

.appointmentContainer {
    border: 2px solid rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 6em;
}

.appointmentTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4em;
    background-color: rgb(230, 230, 230);
    background: linear-gradient(125.95deg, #C700BF 10.95%, #7DA900 100%), linear-gradient(341.1deg, #00C2FF 7.52%, #4E00B1 77.98%), linear-gradient(222.34deg, #A90000 12.99%, #00FFE0 87.21%), linear-gradient(130.22deg, #8FA600 18.02%, #5A31FF 100%);
    background-blend-mode: screen, color-dodge, color-dodge, normal;
    box-shadow: rgba(0, 0, 0, 0.5) 0em .5em 1.4em -1em;
    z-index: 2;
}

.appointment {
    background-color: #c2c2c25e;
    min-height: 5em;
    width: 13.6em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: .9em;
    cursor: pointer;
    padding: 1em;
    user-select: none;
    border-top: 2px solid rgb(238, 238, 238);
    transition: background-color .3s;
}

.activeAppointment {
    background-color: #b3b3b3b9;
}

.appointment:first-child {
    border: none;
}

.appointment:hover {
    background-color: #b3b3b3;
}

.appointmentHeader {
    font-size: 1.1em;
    margin-bottom: .4em;
    font-weight: bold;
}

.extra {
    display: flex;
}

.extraDash {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: .5em;
    margin-right: .5em;
}

.appointmentTime {
    font-weight: bold;
}

.appointmentCost {
    font-weight: bold;
    margin-bottom: .4em;
}

/* Schedule */

.contentContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 80%;
}

.calendarContainer {
    width: 100%;
}

.calendar {
    height: 27.6em;
    padding: 2em;
}

/* Empty */

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

.emptyText {
    text-align: center;
    width: 22em;
}

.emptyImage {
    width: 15em;
}

.button {
    color: white;
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .3em;
    cursor: pointer;
    background-color: rgb(30, 36, 56);
    user-select: none;
    transition: background-color .3s;
}

.buttonBottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.button:hover {
    background-color: rgba(30, 36, 56, 0.7);
}

/* Loading */

.relative {
    position: relative;
}

.centerLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.dim {
    width: 100%;
    opacity: .5;
    user-select: none;
    pointer-events: none;
}

.media123 {
    width: 100%;
    display: flex;
}

@media screen and (max-width: 1300px) {

    .button {
        position: absolute;
        bottom: -82vw;
        right: 4vw;
    }

    .media123 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentContainer2 {
        width: 52vw;
    }

    .appointmentContainer {
        width: 100%;
    }

    .appointment {
        min-height: 5vw;
        width: 50vw;
        font-size: .8em;
        padding: 1vw;
    }

    .contentContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .calendarContainer {
        width: 100%;
    }

    .calendar {
        padding: 0;
        margin-top: 2em;
    }
}

@media screen and (max-width: 700px) {
    .button {
        font-size: 2vw;
    }
}